body 
{
    margin: 0px;
}
.Modal-Box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.4);
    z-index: 20; 
}
.Sign-In-Modal-Box {
    position: absolute;
    width: 60rem;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    font-family: hurme_no2-webfont,-apple-system,BlinkMacSystemFont,sans-serif;
    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
}
.Modal-Header
{
    background-color: #4257b2;
    color: white;
    padding: 4rem;


}
.Left-Container-Login
{
    width: 50%;
    height: 100%;
    float: left;
}
.Right-Container-Button
{
    width: 50%;
    height: 100%;
    float: right;
}
.Exit-X-Circle {
    font-size: 3rem;
    cursor: pointer;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border-bottom-color: black;
    border-color: #4358B2;
    border-radius: 50%;
    background-color: #4257b2;
    box-shadow: inset 0 0 0 3px #3b4c9b;
}

