/*Simple Tools (section 1)*/

.container.simple-tools-container {
  width: 100%;
  height:650px;
  background-image: url('../../assets/images/splash/splash-laptop-desktop.jpg');
  background-color: #f5f5f5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}

.simple-tools-content {
  text-align: right;
  max-width: 490px;
  color: #455358;
  margin-left: 280px;
  margin-top: 150px;
}

.simple-tools-content h1 {
  font-size: 56px;
}

.simple-tools-content p {
  font-size: 16px;
}

.simple-tools-content button {
  width: 316px;
  height: 70px;
  background-color: #3DCECF;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 18px;
}

.simple-tools-content button:hover {
  transition: .5s;
  background-color: #FFCD1F;
  color: #6E6E4B;
}

/*Meet Quizlet (section 2)*/

.container.meet-quizlet-container {
  width: 100%;
  height:600px;
  background-color: #F0F0F0;
}
.container.meet-quizlet-container .row {
  position: relative;
}

.meet-quizlet-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  max-width: 1220px;
  width: 1220px;
  height: 400px;
  margin: 100px auto;
  background-color: white;
  box-shadow: -1px 2px 6.5px 2px #D9D9D9, 1px 3px 8.5px 3px #D9D9D9;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.meet-quizlet-junk-1 {
  position: absolute;
  left: 0;

}

.meet-quizlet-junk-2 {
  position: absolute;
  right: 0;
  top: 430px;
}

.meet-quizlet-info {
  padding: 6% 80px;
  margin: 0;
  max-width: 690px;
  text-align: left;
}

.meet-quizlet-info h1 {
  color: #455358;
  font-size: 38px;
}

.meet-quizlet-info p {
  font-size: 16px;
}

.learn-more {
  max-width: 110px;
  text-transform: uppercase;
  font-size: 15px;
  border-bottom: 5px solid #3DCECF;
}

.meet-quizlet-image {
  min-width: 535px;
  height: 100%;
}

.meet-quizlet-image img {
  width: 100%;
  height: 100%;
}

/*Study Sets (section 3)*/

.study-set-container {
  min-height: 1945px;
}

.study-set-row  h2 {
  max-width: 438px;
  color: #455358;
  font-size: 38px;
  line-height: 48px;
  margin: 100px auto;
}

.study-sets {
  columns: 3;
  min-width: 295px;

  -webkit-columns: 295px;
  -moz-columns: 295px;
  columns: 295px;
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
}

.make-your-own {
  width: 100%;
  height: 270px;
  border: 5px dashed #3dcecf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make-your-own h1 {
  max-width: 240px;
  font-size: 30px;
  line-height: 38px;
  color: #455358;
  margin: auto auto;
}

.study-set-card {
  height: 100px;
  box-shadow: -1px 2px 6.5px 2px #D9D9D9, 1px 3px 8.5px 3px #D9D9D9;
  background: white;
  padding: 1em;
  margin-bottom: 1.3em;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.study-set-button {
  width: 160px;
  height: 40px;
  background-color: #3DCECF;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 14px;
}

.study-set-button:hover {
  transition: .5s;
  background-color: #FFCD1F;
  color: #6E6E4B;
}

.get-started-button-container {
  margin-top: 25px;
  padding-top: 80px;

}

.study-set-get-started-button {
  width: 370px;
  height: 70px;
  background-color: #3DCECF;
  border: none;
  border-radius: 0px;
  color: white;
  font-size: 18px;
  line-height: 22px;
}

.study-set-get-started-button:hover {
  transition: .5s;
  background-color: #FFCD1F;
  color: #6E6E4B;
}
