.opening-container{
  background-color: #f0f0f0;
}

.dashboard-content-container {
  display: flex;
  justify-content: flex-start;
}

.dashboard-activity-container {
  margin-left: 25px;
  width: 100%;
}
