.container.footer-main-container {
  width: 100%;
  height: 387px;
  background-color: #4257B2;
  color: white;
}

.container.footer-main-container a {
  text-decoration: none;
  color: white;
  font-weight: 100;
}

.row-1 {
  width: 1220px;
  height: 255px;
  margin: 60px auto 0 auto;
}

.footer-flex-container {
  display: flex;
  justify-content: space-around;
}

.links-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.links-container strong {
  padding: 10px 0;
  font-size: 16px;
}

.footer-logo {
  color: white;
  font-size: 25px;
}

.links {
  padding: 10px 0;
  font-size: 14px;
}

.links:hover {
  transition: .5s;
  color: #5C6EBC;
}

.links-container p {
  font-size: 16px;
}

.language-selector {
  background-color: #4257B2;
  border: none;
  text-align: left;
}

.row-2 {
  width: 1220px;
  margin: 0 auto;
}
.footer-copyright {
  text-align: left;
}

.social-links {
  display: flex;
  justify-content:flex-start;
}

.icons {
  font-size: 16px;
  margin: 0 10px;
  border: 2px solid #31438c;
  border-radius: 50%;
  padding: 10px 12px;
}

.fa.fa-facebook {
  padding: 10px 15px;
}

.icons:hover {
  transition: .5s;
  background-color: #31438c;
}
